body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9D3A42;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color: #666;
}

#main {
    background: no-repeat center / cover url(img/bas.png);
    width: 100%;
    height: 100vh;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
table, th, td {
    background-color: white;
    border: 1px solid black;
    margin-left: 20%;
}

th{
    background-color: grey;
    margin-left: 20%;
}

.tvgklant {
    background-color: white;
    border-radius: 33px;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tvgklant:hover {
    background-color: #9D3A42;
}